@model IEnumerable<TiendaVirtual.Web.ViewModels.Categoria.CategoriaListVm>

@{
    ViewBag.Title = "Index";
}
<div class="d-flex justify-content-between w-75">
    <h2>Lista de Categorías</h2>
    <p>
        @Html.ActionLink("Nueva", "Create", null, new { @class = "btn btn-primary" })
    </p>
</div>

@if (TempData["Msg"] != null)
{
    <div class="alert alert-success alert-dismissible fade show w-75" role="alert">
        @TempData["Msg"].ToString()
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<table class="border-0 table table-bordered table-hover table-dark w-75">
    <tr>
        <th class="w-25">
            @Html.DisplayNameFor(model => model.NombreCategoria)
        </th>
        <th class="w-60">
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>

        <th class="w-15">Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.CategoriaId }, new { @class = "btn btn-sm btn btn-warning" }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.CategoriaId }, new { @class = "btn btn-sm btn btn-info" })|
                @Html.ActionLink("Borrar", "Delete", new { id = item.CategoriaId }, new { @class = "btn btn-sm btn btn-danger" })
            </td>
        </tr>
    }

</table>
