@model IEnumerable<TiendaVirtual.Web.ViewModels.Pais.PaisListVm>

@{
    ViewBag.Title = "Index";
}
<div class="d-flex justify-content-between w-75">
    <h2>Lista de Países</h2>
    <p>
        @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary" })
    </p>
</div>
@if (TempData["Msg"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Msg"].ToString()
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<table class="border-0 table table-bordered table-hover table-dark w-75">
    <tr>
        <th class="w-75">
            @Html.DisplayNameFor(model => model.NombrePais)
        </th>
        <th class="w-25">
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePais)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.PaisId }, new { @class = "btn btn-sm btn btn-warning" }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.PaisId }, new { @class = "btn btn-sm btn btn-info" }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.PaisId }, new { @class = "btn btn-sm btn btn-danger" })
            </td>
        </tr>
    }

</table>
