@model TiendaVirtual.Web.ViewModels.Ciudad.CiudadListVm

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar Ciudad</h2>

<h3>¿Está seguro/a que desea borrar la siguiente ciudad?</h3>
<div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.NombreCiudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCiudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombrePais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePais)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver", "Index", null, new {@class = "btn btn-success"})
        </div>
    }
</div>
