@model IEnumerable<TiendaVirtual.Web.ViewModels.Ciudad.CiudadListVm>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Ciudades</h2>

<p>
    @Html.ActionLink("Nueva", "Create", null, new {@class="btn btn-primary" })
</p>
<table class="border-0 table table-bordered table-hover table-dark w-75">
    <tr>
        <th class="w-75">
            @Html.DisplayNameFor(model => model.NombreCiudad)
        </th>
        <th class=" w-25">Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCiudad)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.CiudadId }, new { @class = "btn btn-sm btn btn-warning" }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.CiudadId }, new { @class = "btn btn-sm btn btn-info" })  |
            @Html.ActionLink("Borrar", "Delete", new { id = item.CiudadId }, new { @class = "btn btn-sm btn btn-danger" })
        </td>
    </tr>
}

</table>
