@using PagedList.Mvc
@model TiendaVirtual.Web.ViewModels.Ciudad.CiudadFiltroVm

@{
    ViewBag.Title = "Index";
}
<div class="d-flex justify-content-between">
    <div class="d-flex justify-content-between w-75">
        <h2>Lista de Ciudades</h2>

        <p>
            @Html.ActionLink("Nueva", "Create", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>

@using (Html.BeginForm("Index", "Ciudades", FormMethod.Get))
{
    <div class="row">
        <div class="col-auto">
            <label>País:</label>
        </div>
        <div class="col-auto">
            @Html.DropDownListFor(model => model.PaisFiltro, Model.Paises, "Ver todos", new { @class = "form-select" })
        </div>
        <div class="col-auto">
            <input type="submit" value="Filtrar" class="btn btn-secondary" />
        </div>
    </div>
}

<table class="border-0 table table-bordered table-hover table-dark w-75 mt-3">
    <tr>
        <th class="w-40">
            @Html.DisplayNameFor(model => model.Ciudades[0].NombreCiudad)
        </th>
        <th class="w-35">
            @Html.DisplayNameFor(model => model.Ciudades[0].NombrePais)
        </th>
        <th class="w-25">Acciones</th>
    </tr>

    @foreach (var item in Model.Ciudades)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCiudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePais)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.CiudadId }, new { @class = "btn btn-sm btn-warning" }) |
                @Html.ActionLink("Detalles", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-sm btn-info" }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.CiudadId }, new { @class = "btn btn-sm btn-danger" })
            </td>
        </tr>
    }

</table>
Página: @(Model.Ciudades.PageCount < Model.Ciudades.PageNumber ? 0 : Model.Ciudades.PageNumber) de: @Model.Ciudades.PageCount
@Html.PagedListPager(Model.Ciudades, page => Url.Action("Index", new
{
    paisFiltro = Model.PaisFiltro,
    page,
    pageSize = ViewBag.PageSize
}))