@model IEnumerable<TiendaVirtual.Web.ViewModels.Proveedor.ProveedorListVm>

@{
    ViewBag.Title = "Index";
}
<div class="d-flex justify-content-between w-75">
    <h2>Lista de Proveedores</h2>
    <p>
        @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary" })
    </p>
</div>

<table class="border-0 table table-bordered table-hover table-dark w-75">
    <tr>
        <th class="w-30">
            @Html.DisplayNameFor(model => model.NombreProveedor)
        </th>
        <th class="w-30">
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th class="w-35">
            @Html.DisplayNameFor(model => model.Ciudad)
        </th>
        <th class="w-15">
            Acciones    
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ProveedorId }, new { @class = "btn btn-sm btn btn-warning" }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.ProveedorId}, new {@class = "btn btn-sm btn btn-info"}) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.ProveedorId}, new {@class = "btn btn-sm btn btn-danger"})
            </td>
        </tr>
    }

</table>
